.paginator
  margin: 4em 0;

.paginator .prev, .paginator .next
  display: inline-block
  &:hover
    color: #42b983;

.paginator .prev
  width: 49%;
  margin-left: -1%;
  margin-right: 1%;
  text-align: right;

.paginator .next
  width: 49%;
  margin-left: 1%;
  margin-right: -1%;
  text-align: left;
