header
  overflow: auto
  position: relative
  left: -60px
  padding-top: 1rem
  margin-bottom: 1rem

.logo
  display: flex
  align-items: center

.logo .logo-txt
  margin-left: 3rem
  color: #9a9b84
  font-size: 1rem
