header
  overflow: auto
  position: relative
  padding-top: 1rem
  margin-bottom: 1rem

.logo
  display: flex
  align-items: center

.logo .logo-txt
  padding-left: 1rem
  color: #9a9b84
  font-size: 1rem
