.home.post-list
  margin: 2em 0

.home.post-list .post-list-item
  padding: 1em 0 2em
  border-bottom: 1px solid #ddd

.home.post-list .post-content
  h2, h3, h4, h5, h6
    &:before
      content: ''
  & > ul
    list-style: initial

.home.post-list .read-more     
  display: inline-block
  margin-top: 1em
  color: #42b983
