.home-list-item
  margin-bottom: 0.7rem
  display: flex
  align-items: center
  justify-content: flex-start

.home-list-item a
  font-weight: bold

.home.post-list
  margin: 2em 0

.home.post-list .post-list-item
  padding: 1em 0 2em
  border-bottom: 2px solid rgba(66, 185, 131, 0.2)

.home.post-list .post-content
  h2, h3, h4, h5, h6
    &:before
      content: ''
  & > ul
    list-style: initial

.home.post-list .read-more     
  display: inline-block
  margin-top: 1em
  color: #42b983
